.vscode

.artifacts/**
.tmp/**

modules/**
test-harness/.engine/**
test-harness/coldbox/**
test-harness/docbox/**
test-harness/testbox/**
test-harness/logs/**
test-harness/modules/**
test-harness/lib/**
test-harness/includes/mail/**
test-harness/.env

build/results.json
changelog-latest.md

# log files
logs/**
node_modules

includes/css
includes/images
includes/js
includes/*.json
schema-example.json