.vscode

.artifacts/**
.tmp/**

test-harness/.engine/**
test-harness/coldbox/**
test-harness/docbox/**
test-harness/testbox/**
test-harness/logs/**
test-harness/modules/**

build/results.json
changelog-latest.md

# log files
logs/**